body {
    background-color: #1A1919;
    font-family: "TT Travels Text Trl_regular";
    font-size: 26px;
    color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: "TT Travels Text Trl_regular";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/TT\ Travels\ Text\ Trial\ Regular.ttf")
}

@font-face {
    font-family: "TT Travels Text Trl_medium";
    font-weight: 100;
    font-style: medium;
    src: url("../fonts/TT\ Travels\ Text\ Trial\ Medium.ttf")
}

@font-face {
    font-family: "TT Travels Text Trl_bold";
    font-weight: 100;
    font-style: bold;
    src: url("../fonts/TT\ Travels\ Text\ Trial\ Bold.ttf")
}

@font-face {
    font-family: "TT Travels Text Trl_demiBold";
    font-weight: 100;
    font-style: black;
    src: url("../fonts/TT\ Travels\ Text\ Trial\ DemiBold.ttf")
}

@font-face {
    font-family: "TT Travels Text Trl_black";
    font-weight: 100;
    font-style: black;
    src: url("../fonts/TT\ Travels\ Text\ Trial\ Black.ttf")
}

form,
input,
button {
    all: unset;
}

img {
    display: block;
    background: transparent;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;

    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section2-container {
    border-radius: 15px;
}

/* STYLES FOR ALL */

.button-style1 {
    border: 1px solid #FFFFFF;
    padding: 7px 16px;

    /* background: #1A1919; */
}

.button-style2 {
    padding: 10px 24px;

    border-radius: 25px;
    background: #E1FF2D;
}

.button-style2:hover {
    color: #fff;
    background: #1A1919;
    border: 1px solid #FFFFFF;
}

.button-style2:hover img {
    filter: invert(1);
}

.button-arrow {
    border-radius: 1000px;
    background: #E1FF2D;
    padding: 20px;
}

.button-arrow img {
    max-width: 26px;
}

.select-custom {
    width: 300px;
    appearance: none;
    -webkit-appearance: none; -moz-appearance: none;
    color: #fff;
    background: #1A1919 url(../img/chevron-down.svg) no-repeat right 10px center;
    padding: 9px 32px 9px 16px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 16px;
}



.article-style1 {
    max-width: 645px;
    height: auto;
    border-radius: 15px;
}

.article-style2 {
    max-width: 420px;
    height: auto;
    border-radius: 15px;
}

.article-style3 {
    max-width: 645px;
    height: auto;
    border-radius: 15px;
}

.article-style4 {
    max-width: 1320px;
    height: auto;
    border-radius: 15px;
}




/*  HEADER */

.header-main {
    background-image: url("../img/Main_banner_img.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;

    padding-bottom: 217px;
}

.header__menu {
    padding: 0 60px;
    padding-top: 34px;

    justify-content: space-between;
    display: flex;
}

.header__menu__logo_about {
    margin: 0;
    display: flex;
    align-items: center;
}

.header__menu__logo_about-img {
    width: 114px;
    height: 42px;
    margin-right: 16px;

    cursor: pointer;
}

.header__menu__logo_about-text {
    font-size: 14px;
    max-width: 195px;
}

.header__menu_socialmed {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;



}

.header__menusocialmed-button2 {
    margin-left: 10px;
    max-height: 40px;
}

.margin_button1 {
    margin-right: 30px;
}

.header__menusocialmed-button1 {
    max-height: 40px;
}

.header__menusocialmed-button_Menu {
    font-family: "TT Travels Text Trl_medium";
    font-size: 16px;

    justify-content: center;
    align-items: center;
}

.header__centered_block {
    color: #E1FF2D;
    text-align: center;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;

    margin-top: 209px;
}

.header__centered_block h1 {
    font-family: "TT Travels Text Trl_black";
    font-size: 200px;
    line-height: 107.138%;
}

.header__centered_block h2 {
    font-family: "TT Travels Text Trl_bold";
    font-size: 32px;
    line-height: 107.138%;
}

.header__centered_block h3 {
    color: #FFFFFF;
    font-family: "TT Travels Text Trl_bold";
    font-size: 24px;
    line-height: auto;
    max-width: 671px;
    margin-top: 10px;
}

/* MAIN */

/* SECTION 1 */

.section1 {
    padding: 70px 60px 80px 60px;
}

.filter__button {
    font-size: 16px;
    font-family: "TT Travels Text Trl_medium";
    gap: 24px;
    display: inline-flex;
}

.margin_filters {
    margin-bottom: 36px;
}

.filter__button-date {
    gap: 56px;
}

.filter__button-place {
    gap: 16px;
}

.card_link {
    position: relative;
    max-width: 645px;
    display: block;

    margin-bottom: 24px;
}

.card_link-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.card__article {
    justify-content: start;
    max-width: 645px;
}



.card__article__text-part {
    display: flex;
    align-items: center;
    gap: 40px;

    font-size: 16px;
    font-family: "TT Travels Text Trl_medium";
}

.card__article__text-part p {
    font-size: 16px;
}

.card__article__text-part::before {
    content: '';
    background-image: url(../img/Place_icon.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 26px;
    position: absolute;
}



.card__article h2 {
    font-family: "TT Travels Text Trl_bold";
    font-size: 36px;
    margin-top: 20px;
    line-height: 40px;
}

.card__inline {
    display: flex;
    justify-content: space-between;
}

.card__article-place {
    padding-left: 30px;
    font-size: 16px;
}



/* SECTION 2 */

.section2 {

    color: #000;
    background-image: linear-gradient(90deg, #E1FF2D 0%, rgba(102, 102, 102, 0.00) 100%),
        url("../img/img_article/main_internerGirl.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 15px;
}

.section2-container {
    padding: 60px;
}

.bannerLink_gradient::before {
    content: '';
    background-image: url(../img/Place_icon_Black.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 26px;
    position: absolute;
}

.bannerLink-upText {
    font-size: 16px;
    font-family: "TT Travels Text Trl_medium";

    padding-left: 30px;
}

.section2 h2 {
    font-size: 128px;
    font-family: "TT Travels Text Trl_bold";
    margin-top: 40px;
    line-height: 130.039%;
}

.section2 h3 {
    font-family: "TT Travels Text Trl_medium";
    font-size: 24px;
    font-weight: 100;
    line-height: 130.039%;
}

.section2_bottomStuff {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 188px;
}

.section2_bottomStuff p {
    max-width: 703px;
}

.section2_bottomStuff button {
    gap: 20px;
    font-size: 16px;
    font-family: "TT Travels Text Trl_bold";
}



/* SECTION 3 */

.section3-container {
    padding: 60px 0 80px 0;
}

.section3-container h2 {
    color: #E1FF2D;

    font-family: "TT Travels Text Trl_bold";
    font-size: 64px;

    margin-left: 60px;
    margin-bottom: 64px;
}

.section3__cardscroll {
    gap: 30px;
    display: flex;
    /* overflow-x: auto; */

    padding: 0 20px;

}

/* .section3__cardscroll::-webkit-scrollbar {
    display: none;
} */

.sec3__card {
    /* max-width: 420px; */

    /* scroll-snap-align: start; */
}

.sec3__card_preview {
    position: relative;
    max-width: 420px;
    display: block;
}

.sec3__card_preview {
    margin-bottom: 24px;
}

.sec3__card-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.sec3__card h2 {
    font-family: "TT Travels Text Trl_bold";
    font-size: 32px;
    margin-top: 20px;
    line-height: 40px;
    margin-left: 0;
    color: #fff;
    margin-right: 30px;
}

/* SECTION 4 */



.section4-container {
    color: #000;
    background: linear-gradient(90deg, #E1FF2D 0%, rgba(102, 102, 102, 0.00) 100%),
        #C4C4C4;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 15px;
}

.sec4__cards {
    margin: 80px 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}


.sec4__card {
    max-width: 645px;
    ;
}

.sec4__style h2 {
    max-width: 930px;
    font-family: "TT Travels Text Trl_bold";
    font-size: 48px;
    line-height: 130.039%;
    margin-top: 40px;
}

.section4_bottomStuff p {
    font-family: "TT Travels Text Trl_medium";
    font-size: 26px;

    max-width: 758px;
}

.sec4__card_preview {
    position: relative;
    max-width: 645px;
    height: auto;
    display: block;
    margin-bottom: 24px;
}

.sec4__card h2 {
    font-family: "TT Travels Text Trl_bold";
    font-size: 36px;
    margin-top: 20px;
    line-height: 40px;
    margin-left: 0;
    color: #fff;
}


/* SECTION 5 */

.section5 {
    color: #000;
    background-image: linear-gradient(90deg, #E1FF2D 0%, rgba(102, 102, 102, 0.00) 100%),
        url("../img/img_article/main_GraffityJam.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 15px;

}

.section5 h2 {
    font-size: 128px;
    font-family: "TT Travels Text Trl_bold";
    margin-top: 40px;
    line-height: 130.039%;
}

.section5 h3 {
    font-family: "TT Travels Text Trl_medium";
    font-size: 24px;
    font-weight: 100;
    line-height: 130.039%;
}


/* SECTION 6 */

.section6 {
    color: #000;
    background: linear-gradient(90deg, #E1FF2D 0%, rgba(102, 102, 102, 0.00) 100%),
        #C4C4C4;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 15px;

    margin-top: 166px;
}

.sec6__style h2 {
    max-width: 1040px;
    font-family: "TT Travels Text Trl_bold";
    font-size: 48px;
    line-height: 130%;
}

/* FOOTER */

.footer {
    margin: 40px 52px 0 52px;
    padding-top: 16px;
    border-top: 1px solid #fff;

    max-width: 1336px;
    justify-content: center;
}

.footer_upperText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_upperText ul {
    display: flex;
    gap: 25px;
    list-style: none;

    font-family: "TT Travels Text Trl_medium";
    font-size: 20px;
}

.footer_textPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MostMedia_footer {
    /* max-width: 1336px; */
    width: 100%;
    margin-top: 31px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.footer_textPlace {
    font-size: 16px;
    justify-content: start;
    gap: 127px;
}

.footer_textPlace a {
    text-decoration: none;
    color: white;
}

.footer_bottomStroke {
    display: flex;
    justify-content: space-between;
    align-items: center;
}







/* STYLES FOR authors.html */

.header-pages {
    background-image: linear-gradient(180deg, rgba(26, 25, 25, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), url("../img/Authors_banner_img.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;

    padding-bottom: 75px;
    border-radius: 0 0 15px 15px;
}

/* .header__centered_block {
    color: #E1FF2D;
    text-align: center;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;

    margin-top: 209px;
} */

.header__start_block {
    justify-content: start;
    text-align: left;

    margin-top: 158px;
    padding: 0 70px;

}

.header__start_block h5 {
    font-family: "TT Travels Text Trl_demiBold";
    font-size: 24px;
}

.header__start_block h4 {
    color: #E1FF2D;

    font-family: "TT Travels Text Trl_Black";
    font-size: 96px;
    line-height: 107.138%;
}

.header__start_block p {
    font-size: 24px;
    max-width: 536px;
    margin-top: 154px;
}

.search-icon {
    max-width: 38px;
    max-height: 38px;
}

.search-input {
    font-size: 16px;
    color: #C4C4C4;
    border-radius: 25px;

    width: 307px;
}

.search-button {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;

}

.filters_for_search {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding: 0 60px;
}

.author__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
}

.author_card {
    max-width: 1321px;
    max-height: 420px;

    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.author_card img {
    max-height: 420px;
    border-radius: 15px;


}

.author_4examples img {
    width: 196px;
    height: 195px;
    border-radius: 15px;
}

.author_4examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}


.author_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 420px;
}


.author_info button {
    color: #000;
    gap: 20px;
    font-size: 16px;
    font-family: "TT Travels Text Trl_bold";

    margin-top: auto;
}

.author_info h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: "TT Travels Text Trl_bold";
}

.author_info h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "TT Travels Text Trl_demiBold";
}

.author_info p {
    font-size: 20px;
    margin-top: 32px;
}

.uthor_textPart {
    flex-grow: 1;
}







/* STYLES FOR graffitys.html */

/* Small cards */

.graffitys_card1 h2 {
    font-family: "TT Travels Text Trl_bold";
    font-size: 40px;
    margin-top: 20px;
    line-height: 40px;
    margin-left: 0;
    color: #fff;
    margin-right: 30px;
    text-transform: uppercase;
}

.graffitys_card1 {
    max-width: 420px;
}

.graffitys_card1,
.banner p {
    font-size: 20px;
}

.graffitys_card1_preview {
    position: relative;
    max-width: 420px;
    display: block;
}

.graffitys_card1_preview {
    margin-bottom: 24px;
}

.graffitys_card1-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.cards_container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 60px;

    margin-bottom: 80px;
}

/* Bid banner */

.graffitys_banner {
    position: relative;
    max-width: 1320px;
    display: block;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;

    margin: 80px 0 80px 0;
}

.graffitys_banner {
    margin-bottom: 24px;
}

.banner h2 {
    font-family: "TT Travels Text Trl_Bold";
    font-size: 64px;
    line-height: 90%;
    margin: 8px 0;
}

.p_banner {
    font-size: 20px;
}